README.md
#Не очень понял коммент: Студенты должны самостоятельно создавать и наполнять этот файл.
#Я создал текстовый файл через Brackets, записал в него README.md как сказано в задаче и переименовал его в Finder с именеми .gitignore предварительно показав скрытые файлы через cmd+sht+. В чем моя ошибка?